* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --clr-dark: #1F2937;
    --clr-main: #F9FAF8;
    --clr-secondary: #E5E7EB;
    --clr-btn: #3882F6;
}

html {
    scroll-behavior: smooth;
}


/* header is a flex item, has hover, lined with nav below*/ 


header {
   background: var(--clr-dark);
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 20px 50px;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: var(--clr-secondary);
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #F6CF57;
}

.nav-placement {
    margin-right: 258px;
}

.container {
    display: flex;
}

.logo-img {
    max-width: 100px;
    height: auto;
    border-radius: 20%;
    margin-right: auto;
    margin-left: 200px;

}


/* *** Section 1 Styles*** */ 


.sec1 {
    background: var(--clr-dark);
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.sec1-container {
    margin-left: 250px;
    margin-top: 75px;
}

.sec1-h1 {
    font-size: 48px;
}

.sec1-subtext {
    color: var(--clr-secondary);
    font-size: 18px;
}

#sign-up {
    max-width: 120px;
    padding: 10px 35px;
    margin-top: 8px;
    border-radius: 8px;
    color: var(--clr-main);
    background: var(--clr-btn);
}


.sec1-img {
    display: flex;
    max-width: 500px;
    border-radius: 5%;
    margin-left: 75px;
    margin-bottom: 150px;
    margin-top: 50px;
}