* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --clr-dark: #1F2937;
    --clr-main: #F9FAF8;
    --clr-secondary: #E5E7EB;
    --clr-btn: #3882F6;
}

html {
    scroll-behavior: smooth;
}

body {
    margin:0;
}

.header-flex-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: var(--clr-dark);
}

.header-link {
    color: var(--clr-secondary);
    font-size: 18px;
    margin-right: 30px;
}

.hl3 {
    margin-right: 15%;
}

.logo-img {
    max-width: 100px;
    height: auto;
    border-radius: 20%;
    margin-right: 35%;
}

.sec1 {
    background: var(--clr-dark);
}

